<%- include('partials/header.ejs') %>

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <h2>Medical Stuff</h2>
                </div>

                <div class="col-md-6 col-lg-5">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Medical Stuff</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->


    <section id="doctors" class="team bg-white">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="heading heading-1 text-center">
                        <h2 class="heading-title">Our Medical Team</h2>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/drm.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Dr JG Mavuso
                                <span>Practice Doctor</span></h5>
                            <h6>
                                <a href="tel: 082 331 9783">
                                    <i class="fa fa-phone"></i>082 331 9783</a>
                            </h6>
                        </div>

                    </div>

                </div>


                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/gene.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="https://www.facebook.com/profile.php?id=100006181965285">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Genevieve Mavuso
                                <span>Sister</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>


                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/themb.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="https://www.facebook.com/thembi.mumsie">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Thembi Masiye
                                <span>Senior Practice Assistant </span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/siph.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Sipho Thabethe
                                <span>Senior Practice Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/vaness.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="https://www.facebook.com/vanessa.herclass.5">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Vanessa Herclass
                                <span>Doctor's Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i>013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/giv.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="https://www.facebook.com/macgyer.mbokane">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Given Mbokane
                                <span>Practice Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/jan.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Jane Mjekula
                                <span>Staff Nurse</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/Hazel.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Hazel Mathebula
                                <span>Clinic Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/hla.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Hlanhla Kubhayi
                                <span>General Assistant</span></h5>
                            <h6>
                                <a href="tel:013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/ab.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Abi Nkosi
                                <span>Practice Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i> 013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/images/team/mbath.jpg" alt="member" />
                            <div class="member-overlay">
                                <div class="member-social">
                                    <div class=" pos-vertical-center">
                                        <a href="https://www.facebook.com/mbijane.mbatha">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="member-info">
                            <h5>Sibusiso Mbatha
                                <span>Practice Assistant</span></h5>
                            <h6>
                                <a href="tel: 013 750 0545">
                                    <i class="fa fa-phone"></i>013 794 1026</a>
                            </h6>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="speciality" class="section feature feature-3 bg-white pb-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="heading heading-1 text-center">
                        <h2 class="heading-title">Our Partnerships</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="feature-panel">
                        <div class="feature-img">
                            <img src="assets/images/slider/CLINIC LOGO.jpg" alt="target">
                        </div>
                        <div class="feature-content">
                            <h3>Sr Genevieve's Clinic </h3>
                            <p> We work hand in hand with Sister Genevieve in achieving the goal of making our patients health better.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <%- include('partials/footersec.ejs') %>