<%- include('partials/header.ejs') %>

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <h2>Clinic Department</h2>
                </div>

                <div class="col-md-6 col-lg-5">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Clinic Department</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->



    <!-- Department Details section -->
    <section class="department-details bg-white ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="department-details">
                        <div class="img">
                            <img src="assets/images/features/xray.jpeg" alt="department-details">
                        </div>

                        <div class="department-desc">
                            <h3>Get the right care based on your individual needs.</h3>
                            <p> Our Xray Department is responsible for checking of bone damages and bone misalignment of patients who have had accidents or injuries. We also do X-Rays for general ailments where X-Ray imaging is necessary in making a meaningful
                                assesssment of the patients' conditions. For our patients to undergo an X-Ray, they need to be examined by the by the Doctor first. The X-Ray service is also available for use by the neighbouring doctors should they refer
                                their patients for it. These patients will need to return to their doctors for the completion of the assesssment.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="department-sidebar">
                        <div class="department-info">
                            <h4>Head of Department</h4>
                            <ul>
                                <li>Dr. Joel Gcina Mavuso </li>
                            </ul>
                        </div>

                        <div class="department-info">
                            <h4>Event Hours</h4>
                            <ul>
                                <li>Mon-Sun <span> 9h00-18h00</span></li>
                            </ul>
                        </div>

                        <div class="department-info mb-0">
                            <h4>Contacts</h4>
                            <ul>
                                <li>Address: <span>6371 Cobra Street KaNyamazane</span></li>
                                <li>Email: <span><a href="#">jgmavuso@mweb.co.za</a></span></li>
                                <li>Email: <span><a href="#">gamavuso@gmail.com</a></span></li>
                                <li>Call Us: <span>013 750 1026/72</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Department Details section -->

    <%- include('partials/footersec.ejs') %>